[submodule "04_Make_Font/fontforge-svg-importer"]
	path = 04_Make_Font/fontforge-svg-importer
	url = https://github.com/leifgehrmann/fontforge-svg-importer.git
[submodule "07_HarfBuzz/harfbuzz"]
	path = 07_HarfBuzz/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "07_HarfBuzz/wasm-micro-runtime"]
	path = 07_HarfBuzz/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
